.logo {
  height: 44px;
  max-width: 224px;
}

.page-header .page-nav {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: right;
}

.profile-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 349px;
  background-image: linear-gradient(260deg, #04cbaa, #67c5dd);
  opacity: 100%;
}
.navheight {
  height: 97px;
}
.searchinput {
  border: 3px solid#d1d1d1;
  background-color: #ededed;
  outline: none;
  border-radius: 26px;
  height: 59px;
  width: 30%;
  color: #8b8b8b;
  margin-left: 10%;
  font-size: 20px;
}
.searchinput1 {
  border: 3px solid#d1d1d1;
  background-color: #ededed;
  outline: none;
  border-radius: 26px;
  height: 59px;
  width: 25%;
  margin-left: 80%;
  margin-bottom: 3%;
  color: #8b8b8b;
  font-size: 20px;
}

.card {
  max-width: 400px;
  min-width: 350px;
  text-align: center;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.16);
}
.tab-content {
  margin-left: 15%;
  margin-top: 3%;
  width: 70%;
}

.navitem {
  font-size: 20px;
  color: #323232;
}

::placeholder {
  font-family: "Open-Sans";
  font-style: italic;
  color: #8b8b8b;
  font-size: 20px;
  vertical-align: middle;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}

.card-title {
  color: #12b6a6;
  font-weight: 600;
  font-size: 30px;
}
.second-title {
  color: #000000;
  font-size: 18px;
  font-weight: initial;
}
.description {
  color: #484349;
  font-size: 16px;
}

.skill-style {
  opacity: 80%;
  color: #000000;
  font-size: 22px;
}

.login-page {
  position: relative;
  display: flex;
  align-items: center;

  border-top: 23px solid #32b1d1;
  width: 60%;
  height: 382px;
  background-color: white;
  margin-left: 20%;
  border-radius: 10px;
}

.main-content {
  background-color: #f6f6f6;
  height: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}
.label {
  margin-left: 20%;
  display: flex;
  text-align: right;
}
.label-input {
  color: #000000;
  font-size: 24px;
  font-weight: inherit;
  line-height: 10px;
  width: 15%;
  text-align: right;
}

.label1 {
  margin-left: 10%;
  display: flex;
  text-align: right;
}
.label-input1 {
  width: 25%;
  color: #000000;
  font-size: 24px;
  font-weight: inherit;
  line-height: 10px;
  text-align: right;
}
.input-style1 {
  margin-left: 8%;
  height: 57px;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  width: 36%;
  background-color: #d1d1d1;
  opacity: 0.57;
}
.header-login {
  margin-left: 20%;
  height: 77px;
  font-weight: inherit;
  font-size: 38px;
  color: #484349;
}

.input-style {
  margin-left: 10%;
  height: 57px;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  width: 40%;
  background-color: #d1d1d1;
  opacity: 0.57;
}

.submit-style {
  height: 52px;
  border: 1px solid #12b6a6;
  border-radius: 8px;
  color: #12b6a6;
  line-height: 10px;
  background-color: white;
  margin-left: 57%;
  width: 15%;
  align-items: flex-end;
  font-size: 24px;
  outline: none;
}
.submit-style1 {
  height: 52px;
  border: 1px solid #12b6a6;
  border-radius: 8px;
  color: #12b6a6;
  line-height: 10px;
  background-color: white;
  margin-left: 30%;
  width: 15%;
  align-items: flex-end;
  font-size: 22px;
  outline: none;
}

@media (max-width: 900px) {
  .label {
    margin-left: 10%;
  }
  .label-input {
    font-size: 20px;
    width: 20%;
  }
  .input-style {
    margin-left: 15%;
    height: 50px;
    font-size: 20px;
  }
  .submit-style {
    height: 50px;
    margin-left: 65%;
    width: 10%;
    font-size: 15px;
  }
  .submit-style1 {
    height: 50px;
    margin-left: 45%;
    width: 12%;
    font-size: 15px;
  }
  .label1 {
    margin-left: 5%;
  }
  .label-input1 {
    font-size: 20px;

    width: 25%;
  }
  .input-style1 {
    margin-left: 13%;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    width: 38%;
    background-color: #d1d1d1;
    opacity: 0.57;
  }
}
@media (max-width: 700px) {
  .submit-style {
    font-size: 10px;
  }
}
.signup-page {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 23px solid #32b1d1;
  width: 60%;
  height: 810px;
  background-color: white;
  margin-left: 20%;
}

.select-style {
  height: 57px;
  border-radius: 8px;
  color: black;
}
